[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --no-input", "python manage.py migrate"]

[start]
cmd = "gunicorn detection_projet.wsgi --log-file - --timeout 120 --workers 1 --threads 2 --worker-class sync"
